<div style="text-align:center">
  <h1>{{ 'demo.wellcome' | translate }} {{title}}!</h1>
</div>

<div>
  <div>{{'HELLO' | translate}}</div>
</div>

<div>
  <h1>{{ 'title' | translate }}</h1>

  <!-- translation: translation pipe -->
  <p>{{ 'text' | translate }}</p>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>text</p>

  <!-- translation with parameters: translation pipe -->
  <p>{{ 'demo.greeting' | translate:{'name':'Andreas'} }}</p>

  <!-- translation: directive (key as attribute) -->
  <p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>

  <p [innerHTML]="'demo.goodbye' | translate:{'name':'Andreas'}"></p>

  <!-- translation: directive (key as content of element)-->
  <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>
</div>

<button (click)="showAlert()">Show Alert</button>

<button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('es')">es</button>

<!-- xa usar select -->
<label>
  {{'change' | translate}}
  <select #langSelect (change)="changeLang(langSelect.value)">
    <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
  </select>
</label>

<hr>

<h3>Ruta a Modulo Tasks:</h3>
<ul>
  <li><a routerLink="/tasks">Home</a></li>
</ul>

<router-outlet></router-outlet>